version: '3'

services:

  postgres:
    image: postgres:12
    env_file:
      - .env
    ports:
      - 5432:5432

  mailcatcher:
    image: schickling/mailcatcher
    ports:
      - 1080:1080

  redis:
    image: redis:latest
    restart: always

  rails:
    stdin_open: true
    tty: true
    depends_on:
      - postgres
      - redis
    build: ./rails
    env_file:
      - .env
    environment: &RAILS_ENV
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
      REDIS_URL: redis://redis:6379/1
      MAILCATCHER_SMTP_ADDRESS: mailcatcher
      MAILCATCHER_SMTP_PORT: 1025
    volumes:
      - ./data/rails/uploads:/app/public/uploads
      - ./rails:/app
    ports:
      - 3000:3000
  caddy:
    image: abiosoft/caddy:latest
    volumes:
      - ./Caddyfile:/etc/Caddyfile
      - ./data/caddy:/root/.caddy
    ports:
      - 443:443
    depends_on:
      - rails

  sidekiq:
    depends_on:
      - postgres
      - redis
      - rails
    build: ./rails
    command: bundle exec sidekiq
    env_file:
      - .env
    volumes:
      - ./rails:/app
    environment:
      <<: *RAILS_ENV

  react:
    build: ./react
    env_file:
      - .env
    volumes:
      - ./react:/app
    ports:
      - 8080:8080