version: '3'

services:

  postgres:
    image: postgres:12
    env_file:
      - .env

  mailcatcher:
    image: schickling/mailcatcher
    ports:
      - 1080:1080

  redis:
    image: redis:latest
    restart: always

  rails:
    stdin_open: true
    tty: true
    depends_on:
      - postgres
      - redis
    build: .
    env_file:
      - .env
    environment: &RAILS_ENV
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
      REDIS_URL: redis://redis:6379/1
      MAILCATCHER_SMTP_ADDRESS: mailcatcher
      MAILCATCHER_SMTP_PORT: 1025
    volumes:
      - ./data/rails/uploads:/app/public/uploads
      - ./:/app
    ports:
      - 3000:3000

  sidekiq:
    depends_on:
      - postgres
      - redis
      - rails
    build: .
    command: bundle exec sidekiq
    env_file:
      - .env
    environment:
      <<: *RAILS_ENV
